.wrap {
    position: relative;
    bottom: 0;
    height: 85%;
    width: 80%;
    left: 10%;
    margin-right: 2.5%;
    margin-top: 20px;
    text-align: center;
    vertical-align: bottom;
}
  
.array {
    display: inline-block;
    margin-top: 1px;
    background-color: #61dafb;
    margin-right: 2px;
  }