.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  background-color: #282c34;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.title-wrap{
  position: relative;
  width: 100%;
  text-align: center;
  max-height: 100px;
}

.title{
  position: relative;
  left: 35%;
  height: auto;
  width: 30%;

  margin: 10px 0 15px 0;
  
  color: #61dafb;
  font-weight: 300;
  font-size: 42px;

  border-radius: 10px;
    
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}